/* ESTILO GERAL */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;
}

body{
    background-color: rgb(0, 0, 0);
    height: 100vh;
}

.interface{
    max-width: 1200px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.btn-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: rgb(236, 132, 62);
    border: 0;
    border-radius: 30px;
    cursor: pointer;
}

h2.titulo{
    font-size: 38px;
    text-align: center;
    color:aliceblue;
}

h2.titulo span{
    color: chocolate;
}


/* ESTILO DO CABEÇALHO */

header {
    padding: 40px 4%;
}

header > .interface {
    display:flex;
    align-items:center;
    justify-content: space-between;
}

header a{
    transition:1s;
    display:inline-block;
    text-decoration: none;
    color:rgb(112, 112, 112)
}

header a:hover{
    color: aliceblue;
    transform: scale(1.3);
}

header nav ul{
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    padding: 0 40px;
}


/* ESTILO DO TOPO DO SITE*/

section.topo-do-site{
    padding: 40px 4%;
   
}

section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
    
}

.topo-do-site h1{
    line-height: 40px;
    font-size: 38px;
    color:antiquewhite;
}

.topo-do-site  h1 span{
     color:chocolate;
}

.topo-do-site p{
    margin: 40px 0;
    color:antiquewhite;
}

.topo-do-site .img-topo-site img{
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate ;
}

@keyframes flutuar{
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }
}

/* ESTILO DAS ESPECIALIDADES*/

section.especialidades{
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px #a74300;

}

section.especialidades .flex{
    gap: 60px;
}

.especialidades  {
    padding: 40 px;
    color:antiquewhite;
}

.especialidades h3{
    font-size: 20px;
    
}

/* ESTILO DO SOBRE */

section.sobre{
    padding: 100px 3%;
}

section.sobre .flex{
    align-items: center;
    gap: 60px;
}

.sobre .txt-sobre{
    color:aliceblue;
}

.sobre .txt-sobre h2{
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 30px ;
}

.sobre .txt-sobre h2 span{
    display: block;
    color:chocolate
}

.sobre .txt-sobre p{
    margin: 20px ;
    text-align: justify;
}

/* ESTILO PORTIFÓLIO */

section.portifolio{
    padding: 50px 4%;
    box-shadow: 0 0 40px 10px #9c3900;
}

/*ALINHANDO*/
section.portifolio .flex{
       justify-content: space-around;
}

/* DEFININDO O TAMANHO E COR */
.img-port{
    width: 360px;
    height: 460px;
    margin-top: 40px;
    background-size: cover;
    background-position: 50% 0%;
    cursor: pointer;
    border-radius: 40px;
    background-color: chocolate;
}

/* ESTILO DO FORMULÁRIO DE CONTATO*/

section.formulario{
    padding: 80px 4%;
    box-shadow: 10 0 40px 10px #9c3900;
   
}

form{
    max-width: 500px;
    margin:0 auto;
    display: flex;
    margin-top: 40px;
    justify-content: center;
    flex-direction: column;
    gap: 10px

}

form input, form textarea{
    width: 100%;
    background-color: rgba(31, 31, 31, 0.815);
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    font-size: 15px;
    color: antiquewhite;
}


form textarea{
    resize: none;
}

form .enviar{
    margin-top: 20px;
    text-align: center;
}

form .enviar input{
    width: 120px;
    font-weight: 900;
    cursor: pointer;
    background-color: #a74300;
    color:black
}

form .enviar input{

}

button :hover, form .enviar input:hover{
    box-shadow: #a74300;
    transform: scale(1.05);

}

/* ESTILO DO RODAPÉ */

footer .line-footer{
    padding: 10px  0 ;
 }


footer{
    padding: 60px 4%;
    box-shadow: 0 0 40px 10px #9c3900;
}

footer .line-footer p a{
    font-size: 20px;
    color:#a74300
}

